.cont_card_project {
  display: flex;
  width: 100%;
  --cl-bor: transparent;
  --cl-back: transparent;
  animation: card-animation 0.3s ease;
}
.cont_card_project:hover {
  --cl-back: var(--color-contrast-120);
  --cl-bor: var(--color-contrast-160);
}

@keyframes card-animation {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link_project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: inherit;
  max-width: inerhit;
  height: inherit;
  min-height: max-content;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid var(--cl-bor);
  background: var(--cl-back);
  border-radius: 1.5rem;
  transition: 0.3s ease;
}

.cont_img {
  display: flex;
  width: 100%;
}

.imgs_project {
  width: 100%;
  height: auto;
}

.cont_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: inherit;
  height: auto;
  overflow: hidden;
}

.cont_authors {
  display: flex;
  align-items: center;
}
.cont_authors img {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.cont_authors p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-contrast-700-t);
}

.cont_descri {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.cont_descri h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-contrast-900-t);
}
.cont_descri p {
  font-weight: 400;
  font-size: 16px;

  color: var(--color-contrast-500-t);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Número de líneas a mostrar */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.cont_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tag_assigned {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  height: 1.5rem;

  background: rgba(255, 0, 85, 0.12);
  border-radius: 1rem;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: var(--color-primary);
}

@media (max-width: 550px) {
  .cont_card_project:hover {
    --cl-back: transparent;
    --cl-bor: transparent;
  }

  .cont_card_project:focus {
    --cl-back: var(--color-contrast-120);
    --cl-bor: var(--color-contrast-160);
  }
}
