.back_float {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background: var(--color-back-700-t);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 11;
}

.modal_advise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  max-width: 35rem;
  height: max-content;
  max-height: 95dvh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-80-t);
  border-radius: 2rem;
  z-index: 13;

  animation: ani-modal 0.5s ease;
}
@keyframes ani-modal {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.head {
  position: relative;
  width: 100%;
}
/* Boton de cierre */
.btn_close_float {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
  place-content: center;
  background: var(--color-contrast-160);
  --cl-x: var(--color-contrast-500-t);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.btn_close_float:hover {
  --cl-x: var(--color-contrast-900-t);
}
.btn_close_float svg {
  transition: 0.3s ease;
  height: 12px;
  width: auto;
}.btn_close_float span {
  font-size: 14px;
  color: var(--color-contrast-500-t);
}

.img_profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.tag_type {
  color: orange;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 1rem;
}

.info_tx {
  color: var(--color-contrast-900);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.info_author {
  font-style: italic;
  font-weight: 300;
  color: var(--color-contrast-700);
}


@media (max-width: 600px) {
  .modal_advise {
    top: auto;
    bottom: 0;
    margin: 0 .5rem;
    border-radius: 2rem 2rem 0 0;
  }
}
