/* Estilos de Acerca De Mi */

/*? Clase reutilizable */
.page_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: max-content;
  min-height: 100dvh;
  padding: 0 0 5rem 0;
}

/* Seccion 1 ----- */

.cont_circle_float {
  position: absolute;
  top: -9rem;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100vw;
  margin: auto;
  height: max-content;
  max-height: 100vh;
  overflow: hidden;

  z-index: -1;
}
.cont_circle_float img:nth-child(1) {
  margin: auto;
  width: 100%;
  min-width: 650px;
  height: auto;
  object-fit: fill;
}


.background_img {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  z-index: -2;
  object-fit: cover;
}

.sec_1_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3rem 0 1rem 0;
}

.float_tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  margin-bottom: 1.5rem;
}
.float_tag img {
  height: 20px;
  width: auto;
}
.tag_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;

  color: var(--color-primary);
}

.title_representation {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 0.5rem;

  background: linear-gradient(90deg, #ff0055 0%, #00c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.title_welcome {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0 1rem;
  margin-bottom: 1rem;

  background: linear-gradient(
    180deg,
    var(--color-contrast-900-t) 0%,
    var(--color-contrast-500-t) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cont_tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: max-content;
  padding: 0 1rem;
}

.making_bogota {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  gap: 0.5rem;

  height: 1.5rem;

  background: var(--color-contrast-60-t);
  border: 1px solid var(--color-contrast-40-t);
  backdrop-filter: blur(2px);
  border-radius: 0.5rem;
}
.making_bogota p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;

  color: var(--color-contrast-700-t);
}
.making_bogota img {
  height: 12px;
  width: auto;
}

.tag_item {
  display: flex;
  align-items: center;

  width: max-content;
  height: 1.5rem;
  padding: 2px 8px;

  border: 1px solid var(--color-primary);
  border-radius: 6px;

  color: var(--color-primary);
  font-weight: 500;
  font-size: 13px;
}

/* Seccion 2 ----- */
.item {
  background: linear-gradient(
    114.33deg,
    var(--color-contrast-120) 0%,
    var(--color-contrast-60) 84.51%
  );
  border: 1px solid var(--color-contrast-120);
  border-radius: 2rem;
  overflow: hidden;
}

.elementScroll {
  display: flex;
  align-items: center;
  padding: 1rem 12px;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem !important;
  min-height: 2.5rem;
}
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee_content {
  display: flex;
  width: max-content;
  gap: 0.5rem;
  animation: scroll-left 40s linear infinite;
  animation-delay: 2s;
}
.item_marquee {
  display: flex;
  width: max-content;
  gap: 0.5rem;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-contrast-500-t);
}
.item_marquee b {
  font-weight: 600;
  color: var(--color-contrast-700-t);
}

.first_info {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "cardPro info-1"
    "cardPro info-2";
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  max-width: inherit;
  height: max-content;
}

.info_first_1 {
  display: flex;
  flex-direction: column;
  grid-area: cardPro;
  gap: 0.5rem;
  width: 12rem;
  min-width: min-content;
}
.cardProfile {
  padding: 1rem;
  width: 100%;
  min-width: auto;
  height: 70%;
}
.pic_profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.pic_hovered {
  animation: transition-img 0.3s ease-in-out;
}
@keyframes transition-img {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.info_first_1 img:nth-child(2) {
  width: auto;
  height: auto;
  object-fit: cover;
}

.info_first_2 {
  display: flex;
  flex-direction: column;
  grid-area: info-1;
  width: 100%;
  gap: 1rem;
  height: 100%;
}

.cont_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 0.5rem;
  grid-template-areas:
    "info_1 info_2"
    "info_3 info_4"
    "info_5 info_5";
}
.info_person {
  width: 100%;
}
.info_person h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2px;
  color: var(--color-contrast-500-t);
}
.info_person p {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-contrast-900-t);
}

.info_1 {
  grid-area: info_1;
}
.info_2 {
  grid-area: info_2;
}
.info_3 {
  grid-area: info_3;
}
.info_4 {
  grid-area: info_4;
}
.info_5 {
  grid-area: info_5;
}
.disp_active {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-ready) !important;
}
.disp_active span {
  background: var(--color-ready);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.info_first_3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: info-2;
}

.cont_2 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: inherit;
  max-width: inherit;
}
.btn_commu {
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  height: 2rem;
  padding: 0 0.5rem;
  --cl-font: var(--color-contrast-700-t);
  background: var(--color-contrast-60);
  border: 1px solid var(--color-contrast-60-t);
  border-radius: 0.5rem;

  &:hover {
    --cl-font: var(--color-contrast-900-t);
    background: var(--color-contrast-80);
  }
}
.btn_commu img {
  height: 1rem;
  width: auto;
}
.btn_commu p {
  font-size: 14px;
  font-weight: 400;
  color: var(--cl-font);
}

/* Referencia de japones */
.ref_japan {
  margin-top: auto;
}

.cont_3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cont_3 h3 {
  font-weight: 400;
  font-size: 16px;

  color: var(--color-contrast-500-t);
}

.cont_tools_recents {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ele_tool {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0.5rem;
  gap: 6px;
  height: 2rem;
  border: 1px solid var(--color-contrast-160-t);
  border-radius: 0.5rem;
}
.ele_tool:hover {
  background: var(--color-contrast-160);
}
.ele_tool p {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-contrast-700-t);
}

/* Seccion 3 ---- */
.sec_3 {
  display: flex;
  content-visibility: auto;
}

.container_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  gap: 1rem;
}
.subtitle {
  position: relative;
  display: flex;
  gap: 12px;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-contrast-900-t);
}

.container_text p {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-contrast-700-t);
}
.container_text p strong {
  font-weight: 500;
  color: var(--color-primary);
}
.container_text p a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: underline;
}

.cont_expo_info {
  display: flex;
  gap: 1rem;
  width: inherit;
  height: max-content;
}

.cont_nums {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 10rem;
  background: var(--color-back);

  border: 1px solid var(--color-contrast-120);
  border-radius: 1.5rem;
  overflow: hidden;
}
.back_nums {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.numbers_cont {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 1.5rem;

  width: inherit;
  height: auto;
  min-height: max-content;
  z-index: 2;
}
.numbers_cont div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  height: max-content;
  max-height: max-content;
}
.numbers_cont div p {
  display: flex;
  width: auto;
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  max-width: 14rem;

  color: var(--color-contrast-700-t);
}

.numbers_cont div:nth-child(1) h4 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: right;

  background: linear-gradient(180deg, #6a00ff 0%, rgba(106, 0, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.numbers_cont div:nth-child(2) h4 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: right;

  background: linear-gradient(
    180deg,
    rgba(0, 225, 255, 0.92) 0%,
    rgba(0, 225, 255, 0.46) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cont_coding {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  min-width: max-content;
  overflow: hidden;
}
.code_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 0 1rem;

  width: 100%;
  height: 2.5rem;

  background: var(--color-back);
  border: 1px solid var(--color-contrast-120);
  border-radius: 1.5rem 1.5rem 0px 0px;
}
.code_head h4 {
  font-weight: 400;
  font-size: 13px;

  color: var(--color-contrast-500-t);
}

.btn_copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}
.btn_copy img {
  height: 1rem;
  width: auto;
}
.code_body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: max-content;
  background: var(--color-contrast-60);
  border: 1px solid var(--color-contrast-120);
  border-top: none;
  border-radius: 0px 0px 1.5rem 1.5rem;
}
.code_body p {
  font-family: "Monaco", "Menlo", "Consolas", monospace;
  font-weight: 400;
  font-size: 15px;

  color: #b45bcf;
}

/* Estilos de la linea de division */
.div_sections {
  width: auto;
  height: auto;
}
.div_sub_sections {
  border-top: 1px solid var(--color-contrast-80-t);
  width: auto;
  margin: 1rem 0;
}

/* Seccion 4 ------ */
.sec_4 {
  display: flex;
  flex-direction: column;
  content-visibility: auto;
}

.sec_4_1 {
  display: flex;
  gap: 1rem;
}

.escept_subtitle {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.escept_subtitle svg {
  height: 30px;
  width: auto;
}

.slogan_title {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-contrast-700-t);
}

.cont_info_img {
  margin-bottom: 1rem;
}
.cont_info_img img {
  width: 100%;
  height: auto;
  border: 1px solid var(--color-contrast-80);
  border-radius: 1.5rem;
}
.cont_info_img figcaption {
  margin: 0.5rem auto;
  width: 85%;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-contrast-500-t);
}

/* Contenedor lista de proyectos */
.cont_projects {
  border-right: 1px dashed var(--color-contrast-80-t);
  border-left: 1px dashed var(--color-contrast-80-t);
  margin: 1rem 0 0 0;
}
.cont_projects:has(li:hover) {
  border-color: transparent;
}

.cont_projects_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.cont_error_projects {
  position: relative;
  width: 100%;
  height: 5rem;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-error);
    opacity: 0.15;
    border: 1px solid var(--color-contrast-80-t);
    border-radius: 1.5rem;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.cont_error_projects p {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-error);
  text-align: center;
}

.cont_more_projects {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: min-content;
  margin: 0.5rem auto 0 auto;
}
.cont_more_projects p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  color: var(--color-contrast-700-t);
}

.btn_projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 12px;

  width: min-content;
  height: 2rem;

  background: var(--color-contrast-80-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1rem;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  color: var(--color-contrast-700-t);
}

.sub_subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Contenedor Metodologia */
.cont_metodology {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20rem;
  overflow: hidden;

  --display-after: block;
}
.cont_metodology::after {
  content: "";
  position: absolute;
  display: var(--display-after);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, transparent 0%, var(--color-back) 100%);
}
.metodology_control {
  display: grid;
  place-content: center;
  margin-top: 1rem;
}
.btn_expand_metodology {
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 12px;
  width: max-content;
  height: 2rem;
  border: 1px solid var(--color-contrast-80-t);
  border-radius: 1rem;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  color: var(--color-contrast-700-t);
}

/* Seccion 5 */
.sec_5 {
  position: relative;
  height: max-content;
  content-visibility: auto;
}
.box_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;

  width: inherit;
  height: max-content;

  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1.5rem;
}
.box_text p {
  color: var(--color-contrast-500-t);
}

.cont_skills {
  margin: 1.5rem 0 2rem 0;
}
.head_container {
  width: auto;
  height: 2rem;
  border-bottom: 1px solid var(--color-contrast-160);
  margin-bottom: 1rem;
}
.sub_subtitle_head {
  width: max-content;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  background: linear-gradient(90deg, #6a00ff 0%, #00ff66 50%, #ff0055 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cont_list_skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Contenedor de cada Habilidad en la lista */

.cont_skill_main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: max-content;
  padding: 1rem;
  border: 1px solid var(--color-contrast-160);
  border-radius: 1.5rem;
  transition: height 0.3s ease-in-out;

  &:focus-visible {
    height: calc(max-content, size);
  }
}
.cont_skill_main h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
  color: var(--color-contrast-900-t);
}
.cont_head_skill {
  display: flex;
  gap: 0.5rem;
  height: max-content;
}

.sub_cont_head_skill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: max-content;
}
.tx_domi {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}
.btn_expand {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  height: 2rem;
  padding: 0 12px;
  border: 1px solid var(--color-contrast-40-t);
  background: var(--color-contrast-80);
  border-radius: 1rem;
  --color-hov: var(--color-contrast-700-t);
  transition: all 0.3s ease;

  &:hover {
    background: var(--color-contrast-80-t);
    --color-hov: var(--color-contrast-900-t);
  }
}
.btn_expand svg {
  height: 12px;
  width: auto;
}
.bar_domination {
  position: relative;
  width: 100%;
  --width-bar: 0%;
  height: 6px;
  background: var(--color-contrast-160-t);
  overflow: hidden;
  border-radius: 0.5rem;
}
.bar_domination::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-bar);
  height: 100%;
  background: var(--color-contrast-500);
  border-radius: 0.5rem;
}

.cont_info_skill {
  animation: ani-init 0.2s ease-in-out;
}
@keyframes ani-init {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.descrip_skill {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-700-t);
}

.cont_sub_skills {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 0.5rem;
  padding-left: 1.2rem;
}
.cont_sub_skills li {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}
.cont_sub_skills li b {
  color: var(--color-contrast-700-t);
  font-weight: 700;
}
.cont_sub_skills li::before {
  content: "";
  position: absolute;
  left: -1.2rem;
  top: 6px;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--color-contrast-700-t);
  border-radius: 2px;
}

/* Contenedor de herramientas dominadas */
.cont_tools {
  display: flex;
  flex-direction: column;
  content-visibility: auto;
}

.cont_list_tools {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cont_area_tools h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-contrast-800-t);
  margin-bottom: 12px;
}

.list_tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.list_tools li {
  width: max-content;
  height: 2.5rem;
  overflow: hidden;
}
.list_tools li a {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  height: inherit;
  gap: 0.5rem;
  padding: 0 12px;

  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 12px;

  font-weight: 500;
  font-size: 16px;
  color: var(--color-contrast-700-t);
  overflow: hidden;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: var(--color-contrast-160);
    color: var(--color-contrast-900-t);
  }
}
.list_tools li a img {
  height: 20px;
  width: 24px;
  object-fit: contain;
}
.list_tools li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  --width-tool: 0%;
  width: var(--width-tool);
  height: 3px;
  background: var(--color-contrast-160-t);
  border-radius: 0 2px 2px 0;
}

/* Seccion 6 - Experiencia */
.tag_sub_title {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
  height: 2rem;
  padding-left: 2.5rem;
}
.subtitle span {
  display: grid;
  place-content: center;
  padding: 0 0.5rem;
  width: max-content;
  height: 1.5rem;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-contrast-500);
  border: 1px solid var(--color-contrast-500);
  border-radius: 1rem;
}

/* Contenedor experiencia */
.sec_6_cont_experience {
  margin: 1.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info_experience {
  height: max-content;
  display: flex;
  gap: 1rem;
}

.exp_guide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 3rem;
  min-width: 3rem;
  height: auto;
  overflow-y: hidden;
}
.img_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid var(--color-contrast-160-t);
  border-radius: 1rem;
}
.img_logo img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 8px;
}

.figure_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.circle_guide {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
  border-radius: 50%;
  background: var(--color-primary-200-t);
  border: 1px solid var(--color-primary);
}
.ray_guide {
  background: var(--color-primary);
  width: 1px;
  height: 100%;
}

.info_exp_cont {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  padding: 0.5rem 0 0 0;
}

.exp_head {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.exp_head h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-contrast-900-t);
}
.exp_head p {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}
.exp_descri {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.exp_descri p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-contrast-700-t);
}

.cont_list_exp h4 {
  font-weight: 600;
  font-size: 15px;
  color: var(--color-contrast-700-t);
}

.cont_list_skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0 0 0;
}
.li_exp {
  font-size: 15px !important;
}
.ele_skill {
  display: grid;
  place-content: center;
  width: max-content;
  height: 2rem;
  padding: 0 12px;
  background: var(--color-contrast-80);
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-contrast-700-t);
}

.sub_info_exp_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cont_sub_element_exp {
  position: relative;
  display: flex;
  padding: 0;
  margin-top: 0.5rem;
}

.figure_info_sub {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  top: 0;
  right: 100%;
  padding: 12px 0 0 0;
  margin: 0 1rem 0 0;
  width: 12px;
  height: 100%;
}
.circle_guide_sub {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
  border-radius: 50%;
  background: var(--color-contrast-160-t);
  border: 1px solid var(--color-contrast-500);
}
.ray_guide_sub {
  background: var(--color-contrast-500);
  width: 1px;
  height: 100%;
}

/* Seccion 7 - Educacion */
.cont_education {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info_edu_cont {
  gap: 0;
}
.info_edu_cont section {
  gap: 0.5rem;
  min-height: 6rem;
}
.info_edu_cont section h3 {
  font-size: 20px;
}
.info_edu_cont section p {
  font-size: 16px;
  color: var(--color-contrast-700-t);
}

.cont_certifications {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.cont_list_certifications {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 700px) {
  .sec_2 {
    padding: 0 1rem;
  }
  .container_text {
    padding: 0 1rem;
  }
  .div_sections {
    margin: 0 1rem;
  }
  .div_sub_sections {
    margin: 1.5rem 1rem;
  }

  .cont_skills {
    padding: 0 1rem;
  }
  .cont_tools {
    padding: 0 1rem;
  }

  .sec_6_cont_experience {
    padding: 0 0.5rem 0 1rem;
  }
}

@media (max-width: 650px) {
  .cont_expo_info {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .first_info {
    grid-template-areas:
      "cardPro info-1"
      "info-2 info-2";
  }
  .info_first_1 {
    width: 8rem;
  }
  .cont_1 {
    width: auto;
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    grid-template-areas:
      "info_1"
      "info_2"
      "info_3"
      "info_4"
      "info_5";
  }
  .numbers_cont div h4 {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }
  .cont_projects_list {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
  }
}
