.lang_cont_float {
  position: absolute;
  bottom: 100%;
  left: calc(-100% - -90%);

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  gap: 1rem;

  width: 11rem;

  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-80-t);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(12px);
  border-radius: 1.5rem;

  animation: init-float 0.25s ease;

  z-index: 12;
}

@keyframes init-float {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.back_float {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;

  background: var(--color-back-700-t);
  backdrop-filter: blur(6px);

  animation: ani-back-float 0.3s ease;
  z-index: 11;
}
@keyframes ani-back-float {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Boton de cierre */
.btn_close_float {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--color-contrast-80-t);
  --cl-x: var(--color-contrast-500-t);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.btn_close_float:hover {
  --cl-x: var(--color-contrast-900-t);
}
.btn_close_float svg {
  transition: 0.3s ease;
  height: 10px;
  width: auto;
}

.lang_float_sec_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: auto;
}
.lang_float_sec_1 svg {
  height: 3rem;
  width: auto;
}
.lang_float_sec_1 h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--color-primary);
}

.lang_float_sec_2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Triangulo inferior */
.ico_triangule {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
}

/* Boton de accion */
.btn_changelang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: auto;
  height: 2rem;
  padding: 0 12px 0 8px;
  --cl-chBtn: var(--color-contrast-700-t);

  background: var(--color-contrast-60-t);
  border: 1px solid var(--color-contrast-20-t);
  border-radius: 1rem;
}
.btn_changelang:hover {
  background: var(--color-contrast-80-t);
}

.changelang_sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.changelang_sec p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: var(--cl-chBtn);
}

.selectedBtn {
  cursor: default;
  background-color: var(--color-primary);
  --cl-chBtn: var(--color-back);
}
.selectedBtn:hover {
  background-color: var(--color-primary);
}

@media (max-width: 500px) {
  .lang_cont_float {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 21.5rem;
    padding-top: 2rem;
    margin: auto;
    gap: 1.5rem;

    border-radius: 1.5rem 1.5rem 0 0;
  }
  .back_float {
    display: block;
  }

  .ico_triangule {
    display: none;
  }
  .img_desk {
    display: none;
  }
  .img_mobi {
    display: block;
  }

  .btn_close_float {
    width: 2rem;
    height: 2rem;
  }
  .btn_close_float svg {
    height: 12px;
  }

  .btn_changelang {
    height: 2.5rem;
    padding: 0 1rem 0 12px;
  }
}
