.down_cont_float {
  position: absolute;
  bottom: 100%;
  left: calc(-50% - -35%);

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem 1rem;
  gap: 1.5rem;

  width: 18rem;

  background-color: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-80-t);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 1.5rem;

  animation: init-float 0.25s ease;

  z-index: 12;
}

@keyframes init-float {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.back_float {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;

  background: var(--color-back-700-t);
  backdrop-filter: blur(6px);

  animation: ani-back-float 0.3s ease;
  z-index: 11;
}
@keyframes ani-back-float {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Triangulo inferior */
.ico_triangule {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
}

/* Boton de cierre */
.btn_close_float {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--color-contrast-80-t);
  --cl-x: var(--color-contrast-500-t);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.btn_close_float:hover {
  --cl-x: var(--color-contrast-900-t);
}
.btn_close_float svg {
  transition: 0.3s ease;
  height: 10px;
  width: auto;
}

.cont_float_sec_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.cont_float_sec_1 img {
  width: auto;
  height: 3rem;
}
.img_desk {
  display: block;
}
.img_mobi {
  display: none;
}
.cont_float_sec_1 div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cont_float_sec_1 div h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--color-contrast-900);
}
.cont_float_sec_1 div p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--color-contrast-500-t);
}

.cont_float_sec_2 {
  display: flex;
  gap: 12px;
  padding: 1rem;
  height: max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid var(--color-contrast-80-t);
  border-radius: 1rem;
}
.img_download {
  height: 2rem;
  width: auto;
}

.cont_list_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}
.cont_list_info li {
  display: flex;
  gap: 4px;
  line-height: 14px;
}
.cont_list_info li p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
  white-space: nowrap;
}
.cont_list_info li b {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-contrast-900-t);
}

.cont_links div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cont_links div a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: var(--color-primary);
}

.cont_float_sec_3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
}

.btn_links {
  padding: 0 12px;
  gap: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 2rem;

  background: var(--color-contrast-60-t);
  --cl-font: var(--color-contrast-700-t);
  border: 1px solid var(--color-contrast-20-t);
  border-radius: 1rem;
}
.btn_links:hover {
  background: var(--color-contrast-80-t);
  --cl-font: var(--color-contrast-900-t);
  transition: all 0.2s ease;
}

.btn_links div {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}
.btn_links div svg {
  height: 1rem;
}
.btn_links div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--cl-font);
}

.btn_links svg:nth-child(2) {
  width: 1rem;
  height: auto;
}
.ico_a_s {
  height: 12px !important;
  width: 8px !important;
}

/* Componente de envio por email */

/* Boton retroceder ----- */
.btn_back {
  position: absolute;
  top: 1rem;
  left: 1rem;

  display: grid;
  place-items: center;
  place-content: center;
  background-color: var(--color-contrast-80-t);
  --cl-back-e: var(--color-contrast-500-t);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.btn_back:hover {
  --cl-back-e: var(--color-contrast-900-t);
}
.btn_back svg {
  transition: 0.3s ease;
  height: 10px;
  width: auto;
}
.ico_back {
  transform: rotate(180deg);
}

.aniInit {
  animation: ini-email 0.3s ease-in;
}
@keyframes ini-email {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cont_email_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.cont_email_sec1 img:nth-child(1) {
  height: 2.5rem;
  width: auto;
}
.cont_email_sec1 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  color: var(--color-contrast-900);
}

.cont_email_sec2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estilo de requerido */
.ico_requi {
  color: red;
  font-weight: 500;
}

.sec2_input {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 4px;
}
.sec2_input label {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-contrast-500-t);
}
.sec2_input input {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-contrast-160-t);
  background-color: transparent;
  width: auto;
  height: 2.5rem;
  padding: 0 12px;
  border-radius: 1rem;
  color: var(--color-contrast-900-t);
  font-size: 15px;
  font-weight: 400;
}
.sec2_input input:focus {
  border-color: var(--color-contrast-200-t);
}

.sec3_preferrer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sec3_preferrer label:nth-child(1) {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-contrast-500-t);
}
.cont_option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 0.5rem;
}
.cont_option p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-contrast-900);
}

.btn_send {
  cursor: default;
  display: grid;
  place-content: center;
  height: 2.5rem;
  color: var(--color-contrast-500);
  background-color: var(--color-contrast-60-t);
  font-size: 15px;
  font-weight: 600;
  border-radius: 1rem;
}
.act_btnsend {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-primary);
  color: var(--color-back);
}
.act_btnsend:hover {
  opacity: 0.9;
}

.tx_bottom {
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  color: var(--color-contrast-500-t);
}

.link_bottom {
  color: var(--color-primary);
}

/* Seccion de procesamiento de envio */
.cont_processing {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1.5rem 0;
}

.cont_processing svg {
  height: 2rem;
  width: 2rem;

  animation: aniloading 0.6s linear infinite;
}
@keyframes aniloading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos de contenedor de correo satisfactorio */

.succ_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.5rem;
}
.succ_sec1 img {
  height: 2.5rem;
  width: auto;
  margin: auto;
}
.succ_sec1 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--color-contrast-900);
}

.succ_sec2 {
  margin-bottom: 1.5rem;
}
.succ_sec2 p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  color: var(--color-contrast-800-t);
}
.succ_sec2 p span {
  color: var(--color-primary);
}

.succ_sec3 {
  display: flex;
  justify-content: center;
}

.btn_back_send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  margin-bottom: 1.5rem;
  height: 2rem;
  border: 1px solid var(--color-contrast-160-t);
  border-radius: 1rem;

  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--color-contrast-500-t);
}
.btn_back_send:hover {
  color: var(--color-contrast-900-t);
}

/* Estilos de contenedor de seccion de error en procesamiento */

.error_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.5rem;
}
.error_sec1 img {
  height: 2.5rem;
  width: auto;
  margin: auto;
}
.error_sec1 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--color-contrast-900);
}

@media (max-width: 500px) {
  .down_cont_float {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 21.5rem;
    padding-top: 2rem;
    margin: auto;
    gap: 1.5rem;

    border-radius: 1.5rem 1.5rem 0 0;
  }
  .back_float {
    display: block;
  }

  .ico_triangule {
    display: none;
  }
  .img_desk {
    display: none;
  }
  .img_mobi {
    display: block;
  }

  .btn_close_float {
    width: 2rem;
    height: 2rem;
  }
  .btn_close_float svg {
    height: 12px;
  }

  .btn_links {
    height: 2.5rem;
    padding: 0 1rem;
  }

  .btn_back {
    height: 2rem;
    width: 2rem;
  }
  .btn_back svg {
    height: 12px;
  }
} 
