/* Estilos de Proyectos */

/* ?Clase reutilizable */
.page_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 0 0 5rem 0;
}

/* Seccion 1 ---- */
.sec_1 {
  height: auto;
}

.cont_circle_float {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.sub_circle_float {
  position: relative;
  width: 100%;
  min-width: 34rem;
}

.sub_circle_float svg:nth-child(1) {
  width: 100%;
  height: auto;
  animation: rotate-ani-right 75s linear infinite;
  animation-delay: 1s;
}
.sub_circle_float svg:nth-child(2) {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -50%;
  right: -50%;
  margin: auto;
  width: 72%;
  height: auto;
  animation: rotate-ani-left 75s linear infinite;
  animation-delay: 1s;
}
@keyframes rotate-ani-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-ani-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background_img {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 100lvh;
  min-height: 100lvh;
  width: auto;
  max-width: 100vw;
  overflow-x: hidden;
  object-fit: cover;
  z-index: -1;
}

.sec_1_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 3rem 0 1rem 0;
}

.float_tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}
.float_tag img {
  height: 20px;
  width: auto;
}
.tag_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;

  color: var(--color-primary);
}

.title_welcome {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  width: auto;
  margin: 0 1rem 0.5rem 1rem;
  text-align: center;

  background: linear-gradient(
    180deg,
    var(--color-contrast-900-t) 0%,
    var(--color-contrast-200-t) 129.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cont_controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
}

.search_container {
  display: flex;
  width: 100%;
  max-width: 20rem;
}

.input_search {
  cursor: text;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 4px 4px 4px 12px;
  gap: 12px;
  background: var(--color-contrast-120-700-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1.5rem;
}
.input_search:hover {
  transition: 0.2s ease-in-out;
  filter: brightness(1.3);
}

.input_search svg:nth-child(1) {
  min-width: 16px;
  min-height: 17px;
}

.input_typing {
  display: flex;
  width: 100%;
  overflow: hidden;
  caret-color: var(--color-primary);
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;

  color: var(--color-contrast-900-t);
}
.input_typing::placeholder {
  color: var(--color-contrast-700-t);
}

.btn_search {
  display: grid;
  place-content: center;
  min-width: 2rem;
  min-height: 2rem;
  background: var(--color-contrast-80-t);
  --cl-arrow: var(--color-contrast-900-t);
  border-radius: 50%;
}
.btn_search_activate {
  background: var(--color-contrast-900) !important;
  --cl-arrow: var(--color-back);
}
.tag_searched {
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.tag_searched p {
  color: var(--color-primary);
}

.btn_add_project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 12px;
  height: inherit;
  background: var(--color-primary);
  border-radius: 1.5rem;

  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;

  color: var(--color-back);
}
.btn_add_project:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-2px);
  border-color: var(--color-contrast-160-t);
  filter: brightness(1.1);
}
.btn_add_project img {
  position: absolute;
  right: 0;
  bottom: -25%;
}

.cont_categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  padding: 0 0.5rem;

  scroll-margin-top: 3.6rem;
}

.btn_link_filter {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  width: max-content;
  height: 1.5rem;

  border: 1px solid var(--color-contrast-200-t);
  border-radius: 1rem;

  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  color: var(--color-contrast-500-t);
}
.btn_link_filter:hover {
  transform: scale(1.05);
  color: var(--color-contrast-900-t);
  border-color: var(--color-contrast-900-t);
}
.selectedFilter {
  cursor: default;
  background-color: var(--color-contrast-900) !important;
  color: var(--color-back) !important;
  transform: scale(1) !important;
}

/* Estilos especificos para mobile */
.cont_categories_mobi {
  display: none;
  width: 100%;
}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100dvh;

  background: var(--color-back-700-t);
  backdrop-filter: blur(6px);
  --webkit-backdrop: blur(6px);
  z-index: 11;

  animation: ani-back 0.3s ease;
}
@keyframes ani-back {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal_content {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  height: max-content;
  margin: auto 0.5rem 0 0.5rem;
  padding: 1rem;
  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-80-t);
  border-radius: 2rem 2rem 0 0;
  z-index: 12;

  animation: ani-modal 0.3s ease;
}
@keyframes ani-modal {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.modal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid var(--color-contrast-80-t);
}
.modal_head h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-contrast-700-t);
}
/* Boton de cierre */
.btn_close_float {
  display: grid;
  place-items: center;
  place-content: center;
  background: var(--color-contrast-80-t);
  --cl-x: var(--color-contrast-500-t);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.btn_close_float:hover {
  --cl-x: var(--color-contrast-900-t);
}
.btn_close_float svg {
  transition: 0.3s ease;
  height: 12px;
  width: auto;
}

.modal_body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn_cate_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 2.5rem;
  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1.5rem;
  margin: 0 1rem;

  font-size: 15px;
  line-height: 15px;
  color: var(--color-contrast-700-t);
}
.btn_cate_menu svg {
  height: 12px;
  width: auto;
}

/* Seccion 2 ----- */
.sec_2 {
  position: relative;
  height: max-content;
}

/* Elemento flotante Japones */
.icon_ref {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 14px;
  height: auto;
}
.icon_ref_left {
  position: absolute;
  top: 50%;
  right: -1.5rem;
  width: 14px;
  height: auto;
}

.cont_title_sec_2 {
  position: sticky;
  top: 3.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-back-700-t);
  -webkit-backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--color-contrast-80-t);
  backdrop-filter: blur(6px);
  scroll-margin-top: 3.5rem;
}
.title_sec_2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-contrast-700-t);
}
.tag_selected_cate {
  user-select: none;
  display: flex;
  align-items: center;
  width: max-content;
  height: 1.5rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
  background: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 1rem;
}
.tag_selected_cate:hover {
  transition: 0.3s ease;
  filter: brightness(1.4);
}
.tag_selected_cate p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: var(--color-back);
}

/* Contenedor lista de proyectos */
.cont_projects {
  border-right: 1px dashed var(--color-contrast-60-t);
  border-left: 1px dashed var(--color-contrast-60-t);
  margin-bottom: 2rem;
}
.cont_projects:has(li:hover) {
  border-color: transparent;
}

.cont_projects_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.cont_load_more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.btn_load_more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-primary);
  width: max-content;
  height: 2.5rem;
  --color-intern: var(--color-back);
  padding: 0 1rem;
  margin: 0 auto;
  border-radius: 2rem;
  color: var(--color-intern);
  font-size: 15px;
  font-weight: 600;

  &:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-2px);
    border-color: var(--color-contrast-160-t);
    filter: brightness(1.1);
  }
}
.btn_load_more svg {
  height: 1rem;
  width: auto;
}

/* Componente de carga */
.ske_card {
  display: flex;
  width: auto;
  height: 25rem;
  padding: 0.5rem;
}
.ske_card div {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--color-contrast-40),
    var(--color-contrast-120),
    var(--color-contrast-40)
  );
  background-size: 200% 100%;
  border-radius: 1.5rem;
  animation: skeleton-loading 0.6s linear infinite;
}
@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* Componente de error */
.cont_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 10dvh 0 50dvh 0;
}
.cont_error span {
  color: var(--color-error);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  animation: shake 0.3s ease-in-out;
}
.cont_error img {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 0.5rem;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.cont_error p:nth-child(2) {
  width: auto;
  max-width: 18rem;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-contrast-800-t);
  margin-bottom: 1rem;
}
.btn_reload {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  height: 2rem;
  padding: 0 0.5rem 0 12px;
  background: var(--color-contrast-60-t);
  border-radius: 1rem;
  --cl-btn-err: var(--color-contrast-500-t);
  border: 1px solid var(--color-contrast-40-t);
}
.btn_reload p {
  font-size: 14px;
  font-weight: 500;
  color: var(--cl-btn-err);
}
.btn_reload svg {
  height: 1rem;
  width: auto;
}
.btn_reload:hover {
  --cl-btn-err: var(--color-contrast-900-t);
}

@media (max-width: 700px) {
  .cont_title_sec_2 {
    padding: 0 1rem;
  }
}

@media (max-width: 550px) {
  .cont_circle_float {
    transform: translate(-50%, -55%);
  }
  .title_welcome {
    font-size: 30px;
  }

  .cont_categories {
    display: none;
  }
  .cont_categories_mobi {
    display: flex;
  }

  .cont_projects_list {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
  }
}
