.back_float {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background: var(--color-back-700-t);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 11;
}

.modal_talk {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 40rem;
  height: max-content;
  max-height: 95dvh;
  padding: 0.5rem 0.5rem 0 0.5rem;
  z-index: 13;
}

/* Tarjeta interna con informacion */
.talk_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  max-height: inherit;
  padding: 1rem;
  background: var(--color-back-500-t);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid var(--color-contrast-120-t);
  border-radius: 2rem;
  z-index: 13;
  overflow-y: auto;
  overflow-x: hidden;

  animation: ani-modal 0.5s ease;
}
@keyframes ani-modal {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.talk_head {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: max-content;
}
.talk_head img:nth-child(1) {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

/* Boton de cierre */
.btn_close_float {
  display: grid;
  place-items: center;
  place-content: center;
  background: var(--color-contrast-200);
  --cl-x: var(--color-contrast-500-t);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.btn_close_float:hover {
  --cl-x: var(--color-contrast-900-t);
}
.btn_close_float svg {
  transition: 0.3s ease;
  height: 12px;
  width: auto;
}

.talk_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.talk_sec1 img:nth-child(1) {
  height: 3rem;
  width: auto;
  margin-bottom: 0.5rem;
}
.talk_sec1 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;

  text-align: center;
  color: var(--color-contrast-800-t);
}
.talk_sec1 p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  max-width: 21rem;

  color: var(--color-contrast-700-t);
}

.talk_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.ry_div {
  width: 50%;
  border-top: 1px solid var(--color-contrast-80-t);
}

.state_of {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}
.state_of p {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: var(--color-contrast-900);
}
.state_of p span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-contrast-900);
}
.tag_info_state {
  position: relative;
  background: var(--color-back-500-t);
  font-size: 12px;
  line-height: 12px;
  color: var(--color-contrast-500-t);
  padding: 4px 0.5rem;
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 0.5rem;
}
.tag_info_state svg {
  position: absolute;
  left: -10px;
}

.cont_btns {
  display: flex;
  gap: 12px;
}
.btn_talk {
  display: grid;
  place-content: center;
  padding: 0 1rem;
  width: max-content;
  height: 2.5rem;
  background: var(--color-primary);
  color: var(--color-back);
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  border-radius: 1.5rem;
  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-2px);
    filter: brightness(1.15);
  }
}
.btn_chat {
  position: relative;
  display: grid;
  place-content: center;
  padding: 0 1rem;
  width: max-content;
  height: 2.5rem;
  background: var(--color-contrast-120-t);
  border-radius: 1.5rem;
  color: var(--color-contrast-500-t);
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
}
.btn_chat img {
  position: absolute;
  top: 2rem;
  right: 0;
}

.cont_info_sub_sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.cont_section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cont_section h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}
.cont_section div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn_info {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 12px;
  width: max-content;
  height: 2rem;
  background: var(--color-contrast-80-t);
  border: 1px solid var(--color-contrast-60-t);
  border-radius: 0.5rem;

  color: var(--color-contrast-700-t);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  transition: background 0.25s ease;

  &:hover {
    background: var(--color-contrast-160-t);
  }
}

.footer_talk {
  display: flex;
  justify-content: center;
}
.footer_talk p {
  font-size: 12px;
  color: var(--color-contrast-500-t);
  text-align: center;
}

.btn_info img {
  width: 16px;
  height: auto;
}

.img_back_colors {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0.5rem;
  width: 95%;
  height: 95%;
  border-radius: 2rem;
  z-index: 12;
  animation: ani-img 1.5s ease;
}
@keyframes ani-img {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .modal_talk {
    margin: auto 0 0 0;
  }

  .talk_container {
    border-radius: 2rem 2rem 0 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none; /* Oculta la barra de scroll en dispositivos móviles */
    }
  }

  .cont_btns {
    width: 100%;
    flex-direction: column;
  }
  .btn_talk {
    width: auto;
  }
  .btn_chat {
    width: auto;
  }

  /* Para navegadores WebKit */
  .contenedor-informacion::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en dispositivos móviles */
  }
  /* Para Firefox */
  .contenedor-informacion {
    margin-right: -17px; /* Oculta la barra de scroll en Firefox */
    padding-right: 17px; /* Compensa el margen para no afectar el contenido */
  }
  /* Para Microsoft Edge y IE */
  .contenedor-informacion {
    -ms-overflow-style: none; /* Oculta la barra de scroll en Edge y IE */
  }
}
