/* ---- Estilos globales ---- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Acorn-Bold";
  src: url("/fonts/Acorn-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

/* Variables de estilo - temas */
:root {
  --color-primary: #ff0055;
  --color-primary-500-t: hsla(340, 100%, 50%, 0.5);
  --color-primary-200-t: hsla(340, 100%, 50%, 0.24);
  --color-primary-80-t: hsla(340, 100%, 50%, 0.08);
  --color-ready: #00ff66;
  --color-error: #ff0000;

  --color-50gray-200-t: hsla(0, 0%, 50%, 0.24);

  interpolate-size: allow-keywords;
  -webkit-interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-back: #0a0a0a;
    --color-back-800-t: hsla(0, 0%, 4%, 0.8);
    --color-back-700-t: hsla(0, 0%, 4%, 0.72);
    --color-back-500-t: hsla(0, 0%, 4%, 0.5);
    --color-back-700-8-t: hsla(0, 0%, 8%, 0.72);

    --color-contrast-900: hsl(0, 0%, 92%);
    --color-contrast-900-t: rgba(255, 255, 255, 0.92);
    --color-contrast-800: hsl(0, 0%, 80%);
    --color-contrast-800-t: rgba(255, 255, 255, 0.8);
    --color-contrast-700: hsl(0, 0%, 72%);
    --color-contrast-700-t: rgba(255, 255, 255, 0.72);
    --color-contrast-500: hsl(0, 0%, 50%);
    --color-contrast-500-t: rgba(255, 255, 255, 0.5);
    --color-contrast-200: hsl(0, 0%, 24%);
    --color-contrast-200-t: rgba(255, 255, 255, 0.24);
    --color-contrast-160: hsl(0, 0%, 16%);
    --color-contrast-160-t: rgba(255, 255, 255, 0.16);
    --color-contrast-120: hsl(0, 0%, 12%);
    --color-contrast-120-t: rgba(255, 255, 255, 0.12);
    --color-contrast-120-700-t: hsla(0, 0%, 12%, 0.72);
    --color-contrast-80: hsl(0, 0%, 8%);
    --color-contrast-80-t: rgba(255, 255, 255, 0.08);
    --color-contrast-60: hsl(0, 0%, 6%);
    --color-contrast-60-t: rgba(255, 255, 255, 0.06);
    --color-contrast-40: hsl(0, 0%, 4%);
    --color-contrast-40-t: rgba(255, 255, 255, 0.04);
    --color-contrast-20-t: rgba(255, 255, 255, 0.02);

    --color-comu: hsla(0, 0%, 4%, 0.92);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-back: hsl(0, 0%, 94%);
    --color-back-800-t: hsla(0, 0%, 94%, 0.8);
    --color-back-700-t: hsla(0, 0%, 94%, 0.72);
    --color-back-500-t: hsla(0, 0%, 94%, 0.5);
    --color-back-700-8-t: hsla(0, 0%, 94%, 0.72);

    --color-contrast-900: hsl(0, 0%, 8%);
    --color-contrast-900-t: rgba(0, 0, 0, 0.92);
    --color-contrast-800: hsl(0, 0%, 20%);
    --color-contrast-800-t: rgba(0, 0, 0, 0.8);
    --color-contrast-700: hsl(0, 0%, 28%);
    --color-contrast-700-t: rgba(0, 0, 0, 0.72);
    --color-contrast-500: hsl(0, 0%, 50%);
    --color-contrast-500-t: rgba(0, 0, 0, 0.5);
    --color-contrast-200: hsl(0, 0%, 76%);
    --color-contrast-200-t: rgba(0, 0, 0, 0.24);
    --color-contrast-160: hsl(0, 0%, 84%);
    --color-contrast-160-t: rgba(0, 0, 0, 0.16);
    --color-contrast-120: hsl(0, 0%, 88%);
    --color-contrast-120-t: rgba(0, 0, 0, 0.12);
    --color-contrast-120-700-t: hsla(0, 0%, 88%, 0.72);
    --color-contrast-80: hsl(0, 0%, 92%);
    --color-contrast-80-t: rgba(0, 0, 0, 0.08);
    --color-contrast-60: hsl(0, 0%, 94%);
    --color-contrast-60-t: rgba(0, 0, 0, 0.06);
    --color-contrast-40: hsl(0, 0%, 96%);
    --color-contrast-40-t: rgba(0, 0, 0, 0.04);
    --color-contrast-20: hsl(0, 0%, 96%);
    --color-contrast-20-t: rgba(0, 0, 0, 0.02);

    --color-comu: hsla(0, 0%, 94%, 0.92);
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-back);
  color: var(--color-contrast-900);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}