/* Estilos de HOME */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.page_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  padding: 0 0 5rem 0;
}

.backImgCover {
  position: absolute;
  top: -3.5rem;
  right: 0;
  width: 100%;
  min-width: 600px;
  max-width: 700px;
  height: auto;
  z-index: -1;
}

.page_sec_1 {
  display: flex;
  width: 100%;
  height: max-content;
  padding: 0 0.5rem 0 0;
}

.cont_ref {
  display: flex;
  min-height: 100%;
  min-width: max-content;
  padding-right: 1rem;
}
.cont_ref img {
  height: 100%;
  width: auto;
}

.cont_info {
  display: flex;
  flex-direction: column;
  width: auto;
  height: max-content;
  gap: 0.5rem;
}
.tag_container {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tag_item {
  display: flex;
  align-items: center;

  width: max-content;
  height: 1.5rem;
  padding: 2px 8px;

  border: 1px solid var(--color-primary);
  border-radius: 6px;

  color: var(--color-primary);
  font-weight: 500;
  font-size: 13px;
}
.icon_creative {
  height: 1.5rem;
  width: auto;
}

.info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: inherit;
}
.info_container h3 {
  font-family: "Acorn-Bold", sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 10vw, 20px);

  color: var(--color-contrast-700-t);
}
.info_container h1 {
  font-family: "Acorn-Bold", sans-serif;
  font-size: clamp(4.6rem, 12vw, 5rem);
  line-height: clamp(4.6rem, 12vw, 5rem);
  font-weight: 900;

  background: linear-gradient(90deg, #ff0055 0%, #00c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info_container h2 {
  font-family: "Acorn-Bold", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-contrast-900-t);
}

/* Seccion 2 ------------ */
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: inherit;
  height: auto;
  margin: 0 0 1rem 0;
  grid-template-areas:
    "cardPic elementScroll elementScroll"
    "cardPic cardAbout cardProjects"
    "cardSer cardSer cardInfo"
    "cardBlo cardCarrusell cardCarrusell";
  content-visibility: auto;
}

/* Icono flecha ---- */
.icon_arrow {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}
@keyframes arrow-activate {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Tarjeta 1 ---- */
.cardPic {
  cursor: default;
  grid-area: cardPic;
  padding: 1rem;
  height: max-content;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--color-primary);
    background: var(--color-contrast-120);
  }
  &:hover .pic_profile {
    transform: scale(0.95);
  }
}
.pic_profile {
  width: 100%;
  height: 100%;
  min-height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

/* Tarjeta 2 (Scroll bar)  ---- */
.elementScroll {
  grid-area: elementScroll;
  display: flex;
  align-items: center;
  padding: 1rem 12px;
  width: 100%;
  height: 2.5rem !important;
  min-height: 2.5rem;
  overflow-y: hidden;
}
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee_content {
  display: flex;
  width: max-content;
  gap: 0.5rem;
  animation: scroll-left 40s linear infinite;
  animation-delay: 1s;
}
.item_marquee {
  display: flex;
  width: max-content;
  gap: 0.5rem;
  white-space: nowrap;

  font-weight: 400;
  font-size: 15px;

  color: var(--color-contrast-500-t);
}
.item_marquee b {
  font-weight: 600;
  color: var(--color-contrast-700-t);
}

/* Tarjeta 3 ---- */
.cardAbout {
  cursor: pointer;
  grid-area: cardAbout;
  position: relative;

  --cl-arrow: var(--color-contrast-200-t);

  &:hover {
    --cl-arrow: var(--color-contrast-700-t);
    border-color: var(--color-contrast-120-t);
    background: var(--color-contrast-120);
  }
  &:hover .pic_about {
    transform: scale(1.08);
  }
  &:hover .icon_arrow {
    animation: arrow-activate 1s ease infinite;
  }
}
.pic_about {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.about_float {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.about_float img {
  margin-left: auto;
  height: 1rem;
}

.about_info_cont {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.about_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.about_info h4 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--color-contrast-500-t);
}
.about_info h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-contrast-900);
}

/* Tarjeta 4 ----- */
.cardProjects {
  cursor: pointer;
  grid-area: cardProjects;
  position: relative;
  transition: all 0.2s ease-in-out;

  --cl-arrow: var(--color-contrast-200-t);

  &:hover {
    --cl-arrow: var(--color-contrast-700-t);
    border-color: var(--color-contrast-120-t);
    background: var(--color-contrast-120);
  }
  &:hover .pic_projects {
    transform: scale(1.08);
  }
  &:hover .projects_float svg:nth-child(3) {
    width: 140%;
    height: 140%;
  }
  &:hover .icon_arrow {
    animation: arrow-activate 1s ease infinite;
  }
}

.pic_projects {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}
.projects_float {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.projects_float img:nth-child(1) {
  margin-left: auto;
  height: 1rem;
  width: auto;
}
.projects_float img:nth-child(2) {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: auto;
}
.projects_float svg:nth-child(3) {
  position: absolute;
  top: -65%;
  right: -65%;
  width: 135%;
  height: 135%;
  transition: all 0.2s ease-in-out;
  animation: rotate-ani 60s linear infinite;
  animation-delay: 1.5s;
}
@keyframes rotate-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.projects_info_cont {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.projects_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.projects_info h4 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--color-contrast-500-t);
}
.projects_info h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-contrast-900);
}

/* Tarjeta 5 ----- */
.cardSer {
  cursor: pointer;
  grid-area: cardSer;
  position: relative;

  transition: all 0.2s ease-in-out;

  --cl-arrow: var(--color-contrast-200-t);

  &:hover {
    --cl-arrow: var(--color-contrast-700-t);
    border-color: var(--color-contrast-120-t);
    background: var(--color-contrast-120);
  }
  &:hover .pic_services {
    transform: scale(1.08);
    opacity: 0.7;
  }
  &:hover .projects_float svg:nth-child(3) {
    width: 140%;
    height: 140%;
  }
  &:hover .icon_arrow {
    animation: arrow-activate 1s ease infinite;
  }
}
.pic_services {
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.services_float {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 0;

  z-index: 1;
}
.services_float img:nth-child(1) {
  margin-left: auto;
  width: 1rem;
  height: auto;
}

.services_info_cont {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services_info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4px;
  width: max-content;

  background: radial-gradient(
    100% 181.16% at 0% 100%,
    var(--color-contrast-120) 0%,
    transparent 100%
  );
}
.services_info h4 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--color-contrast-500-t);
}
.services_info h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-contrast-900);
}

/* Tarjeta 6 (SubSeccion) ----- */
.cardInfo {
  cursor: default;
  grid-area: cardInfo;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none !important;
  background: transparent !important;
  border-radius: 0px !important;
}

.sub_card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 100%;
  background: radial-gradient(
    57.97% 100.71% at 50.29% 0%,
    var(--color-contrast-160) 0%,
    var(--color-contrast-60) 100%
  );
  border: 1px solid var(--color-contrast-120);
  border-radius: 2rem;
}
.sub_card_info h3 {
  font-family: "Acorn-Bold", sans-serif;
  font-weight: 500;
  font-size: 60%;
  line-height: 60%;
  color: var(--color-contrast-500-t);
}
.sub_card_info h2 {
  font-family: "Acorn-Bold", sans-serif;
  font-weight: 600;
  font-size: 150%;
  text-align: center;

  background: radial-gradient(
    100% 304.34% at 0% 1.79%,
    #6a00ff 0%,
    #ff0055 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sub_card_info_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--color-contrast-60);
  border: 1px solid var(--color-contrast-120);
  border-radius: 2rem;
}
.info_2_cont {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 35%;
}
.info_2_cont p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-contrast-500);
}
.sub_card_info_2 img {
  height: 100%;
  width: auto;
}

/* Tarjeta 7 (Blog) ----- */
.cardBlog {
  cursor: pointer;
  grid-area: cardBlo;
  position: relative;

  --cl-arrow: var(--color-contrast-200-t);

  &:hover {
    --cl-arrow: var(--color-contrast-700-t);
    border-color: var(--color-contrast-120-t);
    background: var(--color-contrast-120);
  }
  &:hover .pic_blog {
    transform: scale(1.05);
  }
  &:hover .blog_figures {
    transform: scale(1.05);
  }
  &:hover .blog_figures_2 {
    transform: scale(1.05);
  }
  &:hover .icon_arrow {
    animation: arrow-activate 1s ease infinite;
  }
}
.pic_blog {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.blog_head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.icon_lang {
  width: 1rem;
  margin: 1rem;
}
.icon_blog {
  width: 1rem;
  margin: 13px 1rem;
}

.blog_figures {
  position: absolute;
  top: -10px;
  right: -27px;
  height: 65%;
  width: max-content;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.fig_blog_1 {
  height: 100%;
  width: 100%;
}

.blog_figures_2 {
  position: absolute;
  bottom: -5px;
  left: -0.5%;
  height: 62%;
  width: max-content;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.fig_blog_2 {
  height: 100%;
  width: 100%;
}

.blog_info_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  z-index: 2;
}
.blog_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.blog_info h4 {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--color-contrast-500-t);
}
.blog_info h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-contrast-900);
}

/* Tarjeta galeria carrusell */
.cardCarrusell {
  grid-area: cardCarrusell;
  background: none !important;
  border: none !important;
}

/* Seccion 3 ------------------ */
.page_sec_3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0 0 0;
  content-visibility: auto;
}
.list_contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tx_home {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-contrast-700-t);
}

/* Seccion 4 ------------------ */

/* Divisor de secciones */
.div_sections {
  border-top: 1px solid var(--color-contrast-80-t);
  width: auto;
}

.page_sec_4 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  content-visibility: auto;
}

.sec4_sec1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.sec4_backcolor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150%;

  background: radial-gradient(
    50% 49.85% at 50% 50.15%,
    hsla(265, 100%, 50%, 0.08) 0%,
    transparent 100%
  );
  z-index: -1;
}

.tag_container_sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 6px;

  width: min-content;
  height: 20px;

  border: 1px solid var(--color-contrast-500-t);
  border-radius: 1rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  white-space: nowrap;
  text-align: center;

  color: var(--color-contrast-500-t);
}

.sec4_title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;

  background: radial-gradient(
    56.09% 100% at 50% 0%,
    var(--color-contrast-900) 0%,
    var(--color-contrast-500-t) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  width: auto;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.sec4_btn_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 7px 12px;

  width: min-content;
  height: 32px;

  background: var(--color-contrast-80-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 16px;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: var(--color-contrast-700-t);
}

.sec4_sec2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.sec4_sec2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  height: 3.5rem;

  background: linear-gradient(180deg, transparent 0%, var(--color-back) 100%);
}

.card_sec4 {
  display: flex;
  flex: 1 1 calc(50% - 1rem);
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 24px;
  gap: 32px;
  width: auto;
  height: 22rem;
  overflow: hidden;

  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-60-t);
  border-radius: 32px;
}

.card_sec4_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cont_area_ico {
  display: grid;
  place-content: center;
  background-color: var(--color-back);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.card_sec4_content h3 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;

  color: var(--color-contrast-800);
}
.card_sec4_content p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--color-contrast-500-t);
}

.img_area {
  width: 150%;
  height: auto;
}

.sec4_bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: min-content;
  margin: 1.5rem auto 0 auto;
}
.sec4_bottom p {
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  color: var(--color-contrast-700-t);
}

@media (max-width: 700px) {
  .page_sec_2 {
    padding: 0 1rem;
  }
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "cardPic elementScroll"
      "cardPic cardAbout"
      "cardBlo cardProjects"
      "cardSer cardSer"
      "cardInfo cardInfo"
      "cardCarrusell cardCarrusell";
  }
  .cardInfo {
    cursor: default;
    grid-area: cardInfo;
    display: flex;
    flex-direction: row;
    height: auto !important;
  }
  .cardInfo article {
    width: 50%;
    padding: 20px 0;
  }
  .cardInfo article h2 {
    font-size: 120%;
  }

  .div_sections {
    margin: 0 1rem;
  }
}
