.nav_float {
  position: fixed;
  bottom: 0;
  width: auto;
  height: max-content;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 4px;

  background: var(--color-back-700-8-t);
  border: 1px solid var(--color-contrast-120-t);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 2rem;

  z-index: 10;
}

.modal_mobi {
  display: flex;
}

/* Boton de referencia Descarga */
.cont_download {
  position: relative;
}

.btn_download {
  display: flex;
  align-items: center;
  width: max-content;
  height: 2.5rem;
  max-height: 2.5rem;
  padding: 0 0 0 12px;
  gap: 8px;

  background: radial-gradient(
    50.09% 100% at 50.09% 0%,
    var(--color-contrast-120-t) 0%,
    var(--color-contrast-80-t) 100%
  );
  border-radius: 20px;
}
.btn_download:hover {
  background: radial-gradient(
    50.09% 100% at 50.09% 0%,
    var(--color-contrast-200-t) 0%,
    var(--color-contrast-80-t) 100%
  );
  transition: all 0.5s ease;
}
.img_download {
  height: 20px;
  width: auto;
}

.down_info {
  margin-right: 4px;
}
.down_info h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  color: var(--color-contrast-900);
}
.down_info p {
  font-weight: 300;
  font-size: 11px;
  color: var(--color-contrast-500-t);
}

.down_simbol {
  border-left: 4px solid var(--color-back-700-8-t);
  display: grid;
  place-items: center;
  height: inherit;
  width: 2.5rem;
}
.down_simbol svg {
  transition: all 0.25s ease;
}

/* Triangulo inferior */
.ico_triangule {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
}

/* Boton de Idiomas */
.cont_langs {
  position: relative;
}

.btn_lang {
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 12px;
  gap: 6px;
  background: var(--color-contrast-80-t);
  border-radius: 20px;
}
.btn_lang:hover {
  background: var(--color-contrast-160-t);
  transition: all 0.2s ease;
}

.lang_info {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
}
.lang_info p {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-contrast-900);
}

.lang_simbol {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-left: 4px solid var(--color-back-700-8-t);
}
.lang_simbol svg {
  transition: all 0.25s ease;
}

@media (max-width: 500px) {
  .modal_mobi {
    display: flex;
  }
  .modal_pc {
    display: none;
  }
  .btn_theme {
    display: none;
  }
  .lang_info p {
    display: none;
  }
  .nav_float {
    width: max-content;
    max-width: 100vw;
    margin: 0.5rem;
  }
}
