/* Footer de pagina ----------- */
.footer_cont {
  padding: 1.5rem 0 0 0;
  border-top: 1px solid var(--color-contrast-80-t);
}

.foo_head {
  position: relative;
  display: flex;
  width: min-content;
  margin-bottom: 1rem;
}
.foo_head img {
  width: 2.5rem;
  height: 2.5rem;
}
.foo_head img:nth-child(1) {
  position: absolute;
  left: 0;
  z-index: 1;
}
.foo_head img:nth-child(2) {
  margin-left: 2rem;
  background-blend-mode: darken;
  mix-blend-mode: exclusion;
}

.foo_body {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.subsec_foolinks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.foo_cont_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.foo_cont_links h4 {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-contrast-900);
  margin-bottom: 0.5rem;
}

.foo_cont_links a {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-contrast-500-t);
}

.foo_link_net {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.foo_link_net a {
  display: grid;
  place-content: center;
  --mode-color: luminosity;
  --op-col: 0.5;
}
.foo_link_net a:hover {
  transition: all 0.3s ease;
  --mode-color: normal;
  --op-col: 1;
}

.foo_link_net a img {
  mix-blend-mode: var(--mode-color);
  opacity: var(--op-col);
}

.special_link {
  --mode-color: exclusion !important;
}
.special_link:hover {
  transition: all 0.3s ease;
  --mode-color: exclusion !important;
  --op-col: 1;
}

.foo_footer {
  display: flex;
  flex-direction: column;
}

.cont_foo_bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.cont_foo_bottom p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-contrast-500-t);
}

.div_foo {
  border-top: 1px solid var(--color-contrast-80-t);
  width: 100%;
  margin: 0.5rem 0;
}

.tx_foo_copy {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-contrast-500-t);
}

@media (max-width: 700px) {
  .footer_cont {
    margin: 0 1rem;
  }
}