.page_sec_5 {
  position: relative;
  width: auto;
  content-visibility: auto;
}

.sec5_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 1rem 1rem;
  gap: 1.5rem;
  height: max-content;
  background: var(--color-comu);
  border: 1px solid var(--color-contrast-60-t);
  -webkit-backdrop-filter: blur(75px);
  backdrop-filter: blur(75px);
  border-radius: 2rem;
}

/* Fondo de colores degradado */
.img_back_colors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 32rem;
  z-index: -1;
}

.sec5_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.icon_sec5 {
  height: 2.5rem;
  width: auto;
}
.sec5_sec1 h3 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;

  background: radial-gradient(
    50% 100% at 50% 0%,
    var(--color-contrast-900) 0%,
    var(--color-contrast-500) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn_talk {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;

  height: 2rem;

  background: var(--color-primary);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1rem;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  color: var(--color-back);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.sec5_sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.sec5_sec2 span:nth-child(1) {
  border-top: 1px solid var(--color-contrast-60-t);
  width: 90%;
}

.cont_icons_sec5 {
  display: flex;
  gap: 0.5rem;
  width: max-content;
  height: max-content;
}
.btn_commu {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-contrast-80-t);
  border-radius: 0.5rem;

  &:hover {
    background: var(--color-contrast-80-t);
  }
}

.tx_sec5_bottom {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--color-contrast-500-t);
}

@media (max-width: 700px) {
  .page_sec_5 {
    margin: 0 1rem;
  }
}
