/* Estilos del componente Header principal */

.hea_main {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  min-height: 3.5rem;

  z-index: 10;

  animation: backcolor 0.5s linear both;
  animation-timeline: scroll(y);
  animation-range: 0 40px;
}

@keyframes backcolor {
  from {
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    background: var(--color-back-700-t);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

.hea_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.hea_sec_1 {
  display: flex;
  gap: 1rem;
}

.nav_link {
  display: grid;
  place-content: center;
  min-width: max-content;
  height: 2rem;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-contrast-700-t);
}
.nav_link:hover {
  color: var(--color-contrast-900);
}
/* Estado activo */
.link_active {
  pointer-events: none;
  color: var(--color-primary);
  user-select: none;
}
.link_active:hover {
  color: var(--color-primary);
}

/** Configuracion mobil */
.hea_img_profile {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border: 1px solid var(--color-contrast-160);
  border-radius: 50%;
}

.hea_sec_mobil {
  display: none;
  position: relative;
  width: max-content;
  height: max-content;
}

.btn_menu {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  height: 2rem;
  padding: 0 12px;
  background: var(--color-contrast-80-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-contrast-700-t);
}

.modal_menu {
  position: absolute;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  height: max-content;
  top: 2.5rem;
  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-80-t);
  padding: 1rem;
  border-radius: 1.5rem;

  animation: ani-deploy 0.25s ease both;
  z-index: 13;
}
@keyframes ani-deploy {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal_content_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.nav_link_mobi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem 0 12px;
  font-size: 15px;
  font-weight: 500;
  --color-elements: var(--color-contrast-700-t);
  color: var(--color-elements);
  background: var(--color-contrast-60-t);
  border: 1px solid var(--color-contrast-20-t);
  border-radius: 1rem;
  transition: all 0.2s ease;

  &:hover {
    --color-elements: var(--color-contrast-900);
    background: var(--color-contrast-80-t);
    border-color: var(--color-contrast-60-t);
  }
}
.link_active_mobi {
  pointer-events: none;
  --color-elements: var(--color-back);
  background: var(--color-primary);
}

.modal_extra_options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal_tx_info {
  font-size: 14px;
  line-height: 14px;
  color: var(--color-contrast-500);
}
.btn_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 2.5rem;
  padding: 0 12px 0 1rem;
  background: var(--color-contrast-60-t);
  border-radius: 1.5rem;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-contrast-700-t);
}

.hea_sec_2 {
  display: flex;
  gap: 1rem;
}

/* Boton de accion para la comunicacion */
.btn_talk {
  background-color: var(--color-contrast-80-t);
  width: max-content;
  height: 2rem;
  padding: 0 12px;
  border-radius: 1rem;
  border: 1px solid var(--color-contrast-40-t);

  font-weight: 500;
  font-size: 14px;
  color: var(--color-contrast-700-t);
}
.btn_talk:hover {
  color: var(--color-contrast-900);
  transform: translateY(-1px);
  transition: 0.2s ease;
}

@media (max-width: 580px) {
  .hea_sec_1 {
    display: none;
  }
  .hea_cont {
    padding: 0 0.5rem;
  }
  .hea_sec_mobil {
    display: flex;
  }
  .hea_img_profile {
    display: block;
  }
}
