.principal_cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  max-width: 100vw;
  height: max-content;
}

/* Contenedor principal de paginas */
.main_cont {
  width: 100%;
  max-width: 700px;
  height: auto;
  min-height: 92.2vh;
  overflow-y: visible;
}