/* Boton de Temas (Dark - Light) */
.btn_theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  max-height: 2.5rem;
  background: var(--color-contrast-80-t);
  border-radius: 20px;
}
.btn_theme:hover {
  background: var(--color-contrast-160-t);
  transition: all 0.2s ease;
}
.btn_theme img {
  width: 20px;
  height: auto;
}

@media (max-width: 500px) {
  .btn_theme {
    display: none;
  }
}
