.page_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
  margin-bottom: 5rem;
}

.background_img {
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  height: 100vh;
  width: auto;
  min-width: 100vw;
  overflow: hidden;

  z-index: -1;
}

.sec_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  max-width: inherit;
}

.svg_brand {
  position: absolute;
  top: -3.5rem;
  left: -25%;
  width: auto;
  max-width: 100vw;
  height: auto;
  min-height: 50lvh;
  overflow: hidden;
}

.tx_tag {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-contrast-500-t);
  margin-bottom: 1.5rem;
}

.sec1_first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.img_logo {
  border-radius: 1rem;
}
.tx_title {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-contrast-900-t);
}
.tx_description {
  font-size: 16px;
  color: var(--color-contrast-700-t);
}

.cont_authors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cont_authors_pic {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
}
.cont_authors_pic img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -0.5rem;
}
.cont_authors_pic img:first-child {
  margin-left: 0;
}
.tx_authors {
  font-size: 16px;
  font-weight: 400;
}
.tx_authors strong {
  font-weight: 600;
}

.cont_options_source {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.cont_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.btn_download {
  display: flex;
  gap: 4px;
  width: max-content;
  height: 2.5rem;
  border-radius: 2rem;
  overflow: hidden;
}
.cont_down_info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  color: var(--color-back);
  font-size: 15px;
  font-weight: 600;
  background: var(--brand-color);
}
.cont_down_info svg {
  height: 1rem;
  width: auto;
}

.cont_arrow {
  background: var(--brand-color);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont_arrow svg {
  height: 12px;
  width: 10px;
}

.btn_repo {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-contrast-700-t);
  width: max-content;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
}
.btn_repo div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-contrast-700-t);
  font-size: 15px;
  font-weight: 500;
}
.btn_repo div svg {
  height: 1rem;
  width: auto;
}
.btn_repo svg:nth-child(2) {
  height: 12px;
  width: auto;
}

.tx_down_foo {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}
.tx_down_foo span {
  width: min-content;
}
.tx_down_foo span img {
  margin-right: 4px;
}

.details_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.ry_info {
  border-left: 1px solid var(--color-contrast-200-t);
  height: 2.5rem;
}
.details_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.details_item p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}
.details_item span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-900-t);
}
.details_item a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: var(--brand-color);
}
.cont_tags_state {
  display: flex;
  gap: 0.5rem;
}
.cont_tags_state span {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-tag);
  color: var(--color-tag);
  padding: 3px 6px;
  font-size: 13px;
  line-height: 13px;
  border-radius: 1rem;
}

.cont_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.tag_assigned {
  display: grid;
  place-content: center;
  padding: 8px 12px;
  height: max-content;
  width: max-content;
  background: var(--color-contrast-120);
  border-radius: 1rem;
  font-size: 13px;
  line-height: 13px;
  color: var(--color-contrast-900-t);
}

.cont_slider {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 1.5rem;
}

.cont_details_options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  overflow: hidden;
}
.btn_deta_op {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--color-contrast-80);
  border: 1px solid var(--color-contrast-60-t);
  border-radius: 1.5rem;

  &:hover {
    background: var(--color-contrast-120);
  }
}
.cont_ico {
  display: grid;
  place-content: center;
  width: max-content;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0 12px;
  background: var(--color-contrast-80-t);
  border-radius: 1rem;
}
.cont_ico span {
  font-weight: bold !important;
}
.btn_deta_op p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-contrast-900-t);
}

/* ---- Seccion 2 ---- */

/*? Estilos de componente customizado para este proyecto Autocommit */
.cont_study {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0 0 0;
}
.study_info {
  display: flex;
  width: 100%;
}
.study_stadistic {
  width: 100%;
}
.refer_cont {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid hsl(0, 0%, 24%);
  border-left: 1px solid hsl(0, 0%, 24%);
  width: 100%;
  height: max-content;
}
.bars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.bars span {
  position: relative;
  border-left: 1px solid hsl(0, 0%, 16%);
  height: calc(100% + 8px);
}
.bars span:nth-child(1) {
  border: none;
}
.bars span p {
  position: absolute;
  bottom: -1rem;
  left: -50%;
  font-size: 12px;
  color: var(--color-contrast-500-t);
  transform: translateX(-50%);
}
.cont_bar {
  display: flex;
  flex-direction: column;
}
.cont_bar h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: var(--color-contrast-700-t);
  margin-bottom: 0.5rem;
}
.cont_bar p:nth-child(3) {
  font-size: 14px;
  color: var(--color-contrast-500);
}
.bar_style {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem 0 0;
  margin-bottom: 4px;
  height: 2rem;
  width: auto;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: var(--color-back);
  border-radius: 0 1rem 1rem 0;
}
.autocommit_bar {
  background: linear-gradient(90deg, #00804a 0%, #00ff95 100%);
}
.cont_manual_bars {
  display: flex;
  gap: 0.5rem;
}
.manual_bar {
  width: 70%;
  background: linear-gradient(
    90deg,
    var(--color-contrast-500) 0%,
    var(--color-contrast-800) 100%
  );
}
.bar_style p {
  position: absolute;
  font-size: 12px;
}
.bad_bar {
  border: 1px dashed red;
  background: #290000;
  justify-content: center;
  padding: 0;
  width: 30%;
  border-radius: 0.5rem;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: red;
}
.bad_bar p {
  position: absolute;
  top: calc(100% + 8px);
  font-size: 12px;
  text-align: center;
  color: var(--color-contrast-700-t);
}

.info_bottom {
  margin-top: 2rem;
}
.info_bottom p svg {
  height: 14px;
  width: auto;
  margin-right: 6px;
}
.info_bottom p {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  color: var(--color-contrast-700-t);
}

.study_explain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3.5rem 0 0 1rem;
  width: 150px;
}
.study_explain section {
  width: 100%;
}
.study_explain section:nth-child(2) {
  margin-top: 0.5rem;
}
.study_explain section p {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-contrast-900-t);
}
.study_explain section span {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-contrast-500-t);
}

/* ---- Seccion 3 ---- */

/*? Elemento customizado de lista para el proyecto Autocommit */
.list_wrong {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;
}
.list_wrong li {
  display: flex;
  gap: 0.5rem;
  width: auto;
}
.list_wrong li svg {
  margin-top: 4px;
  width: 14px;
  min-width: 14px;
  height: 14px;
}

.cont_errors {
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  margin: 1rem 0;
  background: var(--color-back);
  border: 1px solid var(--color-contrast-200);
  border-radius: 1.5rem;
}
.cont_errors div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 0;
}
.cont_errors div p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-contrast-900-t);
  text-align: center;
}
.comp_ry {
  height: inherit;
  border-left: 1px solid var(--color-contrast-200);
}

/* ---- Seccion 4 ---- */

/*? Elemento personalizado para la seccion 4 sobre las caracteristicas que Autocommit posee */
.cont_list_fea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.cont_list_fea li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 12px;
  background: var(--color-back);
  border: 1px solid var(--color-contrast-200);
  border-radius: 1.5rem;
}
.cont_list_fea li svg {
  width: 1.5rem;
  height: auto;
}
.cont_list_fea li p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-700-t);
}
.ry_fea {
  border-top: 1px solid var(--color-contrast-160-t);
}
.cont_compare {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: inherit;
  overflow-x: hidden;
}
.cont_compare div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cont_compare div h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-900-t);
}
.cont_compare div img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
@media (max-width: 550px) {
  .cont_compare {
    flex-direction: column;
  }
}


/* Elemento de division de articulos */
.ry_inf {
  border-top: 1px solid var(--color-contrast-160-t);
}

/* Reglas de indentacion y presentacion de informacion */
.rules_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rules_info h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-contrast-900-t);
}
.rules_info p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-contrast-700-t);
}
.rules_info p strong {
  font-weight: 600;
  color: var(--color-contrast-900-t) !important;
}
.rules_info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-contrast-900-t);
}
.rules_info h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-contrast-800-t);
}

/* Configuracion responsive */
@media (max-width: 700px) {
  .seccion {
    padding: 0 1rem;
    max-width: 100vw;
  }
}

@media (max-width: 550px) {
  .cont_details_options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}