.page_sec_4 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  content-visibility: auto;
}

.sec4_sec1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.sec4_backcolor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200%;

  background: radial-gradient(
    50% 49.85% at 50% 50.15%,
    var(--color-primary-80-t) 0%,
    transparent 100%
  );
  z-index: -1;
}

.tag_container_sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 4px 8px;

  width: min-content;
  height: max-content;

  border: 1px solid var(--color-contrast-500-t);
  border-radius: 1rem;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  white-space: nowrap;
  text-align: center;

  color: var(--color-contrast-500-t);
}

.sec4_title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;

  background: radial-gradient(
    56.09% 100% at 50% 0%,
    var(--color-contrast-900) 0%,
    var(--color-contrast-500-t) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  width: auto;
  max-width: 30rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.sec4_btn_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 7px 12px;

  width: min-content;
  height: 32px;

  background: var(--color-contrast-80-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 16px;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: var(--color-contrast-700-t);
}

.sec4_sec2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    height: 3.5rem;

    background: linear-gradient(180deg, transparent 0%, var(--color-back) 100%);
  }
}

.card_sec4 {
  display: flex;
  flex: 1 1 calc(50% - 1rem);
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 24px;
  gap: 32px;
  width: auto;
  height: 22rem;
  overflow: hidden;

  background: var(--color-contrast-40-t);
  border: 1px solid var(--color-contrast-60-t);
  border-radius: 32px;
}

.card_sec4_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cont_area_ico {
  display: grid;
  place-content: center;
  background-color: var(--color-back);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.card_sec4_content h3 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;

  color: var(--color-contrast-800);
}
.card_sec4_content p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--color-contrast-500-t);
}

.img_area {
  width: 150%;
  height: auto;
}

.sec4_bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: min-content;
  margin: 1.5rem auto 0 auto;
}
.sec4_bottom p {
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  color: var(--color-contrast-700-t);
}

@media (max-width: 700px) {
  .page_sec_4 {
    padding: 0 1rem;
  }
}

@media (max-width: 550px) {
  .sec4_sec2 {
    flex-direction: column;
  }
  .card_sec4 {
    flex: unset;
  }
}
