.item {
  width: 100%;
  background: linear-gradient(114.33deg, var(--color-contrast-120) 0%, var(--color-contrast-60) 84.51%);
  border: 1px solid var(--color-contrast-120);
  border-radius: 2rem;
  overflow: hidden;
}
