.cont_net {
  display: flex;
  align-items: center;
  width: max-content;
  height: 2.5rem;
  padding: 0.5rem 12px 0.5rem 0.5rem;
  gap: 12px;
  background: var(--color-contrast-60-t);
  border: 1px solid var(--color-contrast-40-t);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.cont_net:hover {
  background: var(--color-contrast-120-t);
}

.pic_sec {
  display: flex;
  position: relative;
}
.pic_sec img:nth-child(1) {
  border-radius: 50%;
}
.pic_sec img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: -4px;
}

.pic_sec2 h3 {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-contrast-800-t);
  white-space: nowrap;
}
.pic_sec2 p {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-contrast-500-t);
}
