.container {
  position: relative;
  margin: auto;
  width: inherit;
  height: inherit;
  overflow: hidden;

  background: transparent;
  border: 1px solid var(--color-contrast-160);
  border-radius: 2rem;
}

.stepsContainer {
  display: flex;
  width: auto;
  height: inherit;
  transition: height 0.2s ease;
}

.stepContent {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  overflow-y: hidden;

  z-index: 1;
}
.stepContent img {
  width: inherit;
  height: auto;
  object-fit: cover;
}

.circleGroup {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;
  height: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 6px;

  background: hsla(0, 0%, 50%, 0.16);
  border: 1px solid hsla(0, 0%, 50%, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 1rem;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--color-contrast-160-t);
  border-radius: 50%;
}

.active {
  background: rgba(255, 255, 255, 0.72);
}

.navigationButtons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: auto;
  height: max-content;
  margin: auto 0;
  padding: 0 0.5rem;

  z-index: 1;
}

.btn {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;

  background: hsla(0, 0%, 12%, 0.2);
  border: 1px solid hsla(0, 0%, 50%, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 50%;

  --color-icon: rgba(255, 255, 255, 0.72);
}
.btn:hover {
  transition: 0.3s ease;
  --color-icon: rgba(255, 255, 255, 0.92);
  background: hsla(0, 0%, 18%, 0.3);
}
.btn svg {
  height: 1rem;
  width: auto;
}

.btnNext {
  margin-left: auto;
}
.btnNext svg {
  transform: rotate(180deg);
}
